
/*herstellungsprozess -slideshow
* {box-sizing: border-box;}

mySlides {
  width: 100%;
  display: none;
}
img {
  width: 100%;
  height: auto;
  max-width: 100%; /* Bilder responsive machen 
} */
/* Slideshow container 
.herstellungs-slider {
  max-width: 1000px;
  position: relative;
  margin: auto;
  overflow: hidden;  Verhindert, dass Bilder über den Container hinausragen 
  display: flex; 
} Bilder in einer Reihe anordnen */
/* Next & previous buttons 
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
} */
/* Position the "next button" to the right 
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
} */
/* On hover, add a black background color with a little bit see-through 
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
} */

/* The dots/bullets/indicators 
.corner {
  cursor: pointer;
  height: 10px;
  width: 80px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 10%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .corner:hover {
  background-color: #000000;
}*/
/* Fading animation 
.mySlides {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

 margin: 0;
  padding: 0;
*/


.footer-bottom {
  height: 24.8vh;
  background-color: #5E2028;
  color: white;
  display: flex;
  justify-content: space-between; /* Elemente im Container verteilen */
  align-items: center;
  padding: 0 20px; /* Fügt Innenabstand hinzu, um den Text zu zentrieren und das Design zu verbessern */
}

.footer-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-navigation-item {
  text-decoration: none;
  display: inline-block;
  margin-right: 10px;
  padding-top: 24px;
}

.footer-navigation-item:hover {
  color: rgb(0, 0, 0);
  /* Hintergrundfarbe bei Hover */
}

#footer-ende {
  display: flex;
    justify-content: center;
}

#footer-ende p {
margin-top: 35px;
    margin-bottom: 35px;
    font-weight: 500;
    color: #FFFFFF;
    margin-left: 10px;
    text-align: center;
}

#Hintergrundbild1 {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  /* Bild nach rechts verschieben */
  align-items: center;
  /* Vertikal zentrieren */
  display: flex;
}

#Hintergrundbild1 img {
 width: 70%;
  /* Damit das Bild nicht über den Container hinaus geht */
}

.Produktvorstellung-Text {
  flex: 1;
  position: relative;
  top: -500px;
  left:100px;
}
.Produktvorstellung-container {
  display: flex;
  align-items: center;
}