/* https://xd.adobe.com/view/a8a30fd2-503a-4e8d-949f-7815efb8b2cf-fdf0/specs/  */

* {
  /* margin: 0; */
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5;
}


header {
  position: absolute;
}

header a {
  background-color: rgba(0, 0, 0, 0.6);
  height: 52px;
  width: 260px;
  position: fixed;
  top: 0;
  display: flex;
  margin: 0;
  z-index: 1000;
}

header img {
  height: auto;
  max-height: 100%;
  /* Das Bild bleibt innerhalb der Höhe des Headers */
  width: auto;
  max-width: 100%;
}

/* Reset und Basis-Stile */
body {
  overflow-x: hidden;
  width: 100vw;
  margin: 0;
}


/*Schrift*/

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;

}

h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.1;
}

p,
aside {
  font-size: 20px;
  line-height: 1.3;
  margin-left: auto;
}

.abstand{
  margin-bottom: 250px;
}

/* Hero-Sektion - 1.Video*/
.hero {
  top: 0;
  left: 0;
  background-color: #5e2028;
  height: 100vh;
  width: 100vw;
}


/* 2.Wine Bottles-Sektion*/
.winebottles {
  display: flex;
  gap: 7em;
}

.winebottles>div {
  height: fit-content;
  width: fit-content;
  margin: 1em;
}

.square {
  position: relative;
  width: 32vw;
  height: 29vw;
}

/* Square Styling für verschiedene Kategorien */
#dry .square {
  background-color: #58262d;
  border: 1px solid #707070;
}

#halfdry .square {
  background-color: #7C6B6D;
  border: 1px solid #707070;
}

#sweet .square {
  background-color: #731320;
  border: 1px solid #707070;
}

.square img {
  width: 60%;
  height: auto;
  position: absolute;
  transform: translateX(60%);
  top: 37%;
}

.square p {
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0.4px;
  width: 50%;
  color: white;
  padding: 1em;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}


/* Carousel-Sektion */
#carousel {
  height: 90vh;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow-x: scroll;
  margin: 0;
  padding: 0 2em;
  margin-top: 15em;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Scrollbar ausblenden */
#carousel::-webkit-scrollbar {
  display: none;
}

/* Button-Gruppe */
.buttongroup {
  flex-direction: row;
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 3em;
}

.carouselbtn {
  position: relative;
  opacity: 1;
  width: 100px;
  height: 15px;
  background-color: #a8a8a8;
}

.carouselbtn button {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}

#span1 {
  background-color: #000000;
}

/* 3.Produktvostellung*/
.Produktvorstellung-container {
  display: flex;
  align-items: center;
  background-image: url(./Aufderwebseite/Flaschenkreis2.png);
  background-size: cover;
  /* Falls das Hintergrundbild den gesamten Container abdecken soll */
  background-position: right;
  /* Das Hintergrundbild rechts positionieren */
  padding-left: 70px;
  margin-bottom: 130px;
  margin-top: 100px;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.Produktvorstellung-Text {
  flex: 1;
  text-align: left;
  max-width: 55%;
  /* Breite des Textcontainers begrenzen */
}

.Produktvostellung-abstand {
  margin-top: 40px;
}

#CallToAction-Button {
  background-color: #000;
  border: 2px solid #00000000;
  border-radius: 0;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  outline-offset: 2px;
  padding: 15px 35px;
  text-transform: uppercase;
}

#CallToAction-Button:hover {
  background-color: #5E2028;
  border: 2px solid #5E2028;
}


/* 6. Produkt im einzelnen  */
.weinvorstellungs-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 70px;
  margin-bottom: 130px;
}

.weinsquare {
  position: relative;
  width: 26vw;
  height: 23vw;
  max-width: 100vh;
}

.weinsquare img {
  width: 35%;
  height: auto;
  position: absolute;
  transform: translateX(135%);
  top: 15%;

}

#halfdry .weinsquare {
  background-color: #7C6B6D;
  border: 1px solid #707070;
}

.weinsquare p {
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 0.4px;
  width: 50%;
  color: white;
  padding: 1em;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}

#vertikale-linie {
  top: 0;
  height: 500px;
  border-right: 2px solid black;
  /* Ändere die Eigenschaften der Linie nach Bedarf */
  padding-right: 100px;
  /* Füge einen Abstand zwischen dem Bild und der Linie hinzu */
}

.wein-description {
  text-align: left;
  padding-left: 35px;
  margin-right: 5%;
  max-width: 70vw;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.weinpreis {
  display: flex;
  justify-content: space-between;
  /* oder space-around, je nachdem wie viel Platz du möchtest */
  margin-top: -30px;
}

#Literangabe {
  color: #000000c4;
  padding-top: 24px;
  padding-right: 440px;
  font-size: 16px;
}

.weinicons-bereich {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.weinicons-bereich div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weinicons-bereich img {
  width: 60px;
  height: 80px;
}

#icontext{
  font-size: 18px;
  color: #191919f7;
}

.andereKlasse2 {
  display: none;
}


/* Herstellungsprozess */
.Herstellungsprozess-container {
  padding: 0 70px;
  margin-top: 100px;
}

.slideshow-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: auto;

}

/* Show three images by default */
.mySlides {
  width: calc((100% - 160px) / 3);
  flex-shrink: 0;
}

.mySlides img {
  width: 100%;
  /* Stellt sicher, dass das Bild den gesamten Container einnimmt */
  height: 100%;
  /* Behält das Seitenverhältnis des Bildes bei */
}

#bild9 {
  height: 90%;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 2;
  /* Stellt sicher, dass die Pfeile über den Bildern angezeigt werden */
  background-color: rgba(0, 0, 0, 0.8);
  /* Fügt einen Hintergrund hinzu, um die Pfeile sichtbar zu machen */
}

.next {
  right: -50px;
  /* Verschiebt den Pfeil nach rechts */
}

.prev {
  left: -50px;
  /* Verschiebt den Pfeil nach links */
}

.prev:hover,
.next:hover {
  background-color: #5E2028;
}

/* Caption text */
#text {
  text-transform: uppercase;
  font-weight: 700;
  padding: 8px 12px;
  width: 100%;
  text-align: center;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

.andereKlasse {
  display: none;
}

/* Producktdetails */
.productdetails-section{
padding: 0 70px;
  margin-top: 100px;
}
.productdetails {
  display: grid;
  max-width: 98vw;
  grid-template-columns: 1fr 90px 1fr;
  grid-template-rows: repeat(4, 1fr);
}

.productdetails img {
  width: 171px;
  height: 432px;
}

#product {
  /* position: absolute; */
  width: 171px;
  height: 432px;
  /* left: 50%;
  transform: translateX(-50%); */
  grid-column: 2;
  grid-row: span 4;
  justify-self: center;

}



/* Gemeinsame Styles für Text mit Linie */
.text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #707070;
  font-size: 1em;
  position: relative;
  visibility: hidden;
  display: grid;
  grid-template-columns: 40% 60%;
}

.line {
  color: black;
  border-top: 2px solid #707070;

  text-transform: uppercase;
  font-size: 34px;
  font-family: Arial, Helvetica, sans-serif
}


/* Kreise und Overlays für Produkt-Details */
area {
  outline: 1px solid #a8a8a8;
}

.visible {
  visibility: visible !important;
}

.circle {
  position: relative;
  background-color: #a8a8a8;
  /* Set the default background color */
  border-radius: 50%;
  /* Create a circular shape */
  z-index: 99;
  width: 20px;
  height: 20px;
  visibility: hidden;
  /* Initially hide the circles */
}

#cCircleOverlay {
  bottom: 420px;
  left: 101px;
}

#bCircleOverlay {
  bottom: 320px;
  left: 39px;
}

#lCircleOverlay {
  bottom: 258px;
  left: 104px;
}

#wCircleOverlay {
  bottom: 113px;
  left: 76px;
}

#cork {
  padding-top: 10px;
  margin-top: 28px;
}

#bottle {
  padding-top: 10px;
  margin-top: -83px;
  grid-template-columns: 60% 40%;
}

#wine {
  grid-template-columns: 60% 40%;

}

#bottle div {
  grid-area: 1/2;
}

#bottle p {
  grid-area: 1/1;
}

#label {
  padding-top: 10px;
  margin-top: 28px;
}

#wine {
  padding-top: 10px;
  margin-top: 28px;
}

#wine div {
  grid-area: 1/2;
}

#wine p {
  grid-area: 1/1;
}


/* 8.Bewertung  */
.Bewertungs-container {
  padding-left: 70px;
  margin-top: 50px;
  margin-bottom: 130px;
  width: 100%;
  box-sizing: border-box;
}

.Bewertung-drumherum {
  display: flex;
  justify-content: space-between;
}

.Bewertung-drumherum img {
  width: 30%;
  height: 50%;
}

.Bewertungs-text {
  width: 40%;
  margin-right: 120px;
}

.Bewertungs-text>div {
  margin-bottom: 10px;
}

.Bewertungs-text>div>div {
  flex-direction: column;
  align-items: flex-start;
}

.Bewertungs-text h3 {
  color: #333;
  display: flex;
  align-items: left;
}

#grauer-text {
  color: #A8A8A8;
  margin-left: 0px;
}

.bewertungsicon-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

.bewertungsicon-container img {
  width: 6vh;
  height: 11vh;
  margin-right: 12px;
}

#GrauesGlas {
  width: 5.8vh;
  height: 11vh;
}

.Bewertungs-button {
  background-color: #a8a8a8;
  border: 2px solid #a8a8a8;
  border-radius: 0;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  outline-offset: 2px;
  padding: 15px 35px;
  text-transform: uppercase;
  margin-top: 40px;
}

.Bewertungs-button:hover {
  background-color: #000000;
  color: #ffffff;
  border: 2px solid #000000;
}

/* 9.Impressum  */

.impressum-container {
  padding-left: 70px;
  margin-bottom: 80px;
}

.impressum-h3 {
  margin-bottom: 25px;
  margin-top: 20px;
}

.impressum-text {
  margin-top: 20px;
  margin-bottom: 40px;
}

.Letzter-button {
  background-color: #000;
  border: 2px solid #00000000;
  border-radius: 0;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  outline-offset: 2px;
  padding: 15px 35px;
  text-transform: uppercase;
}

.Letzter-button:hover {
  background-color: #5E2028;
  border: 2px solid #5E2028;
}

.Letztes-bild {
  padding-left: 1100px;
  margin-top: -500px;
  width: 40px;
  height: 50%;
}

.footer-fa-icon {
  margin-left: 1265px;
  margin-top: -60px;
}

.fa.fa-youtube {
  color: rgba(0, 0, 0, 0.904);
  font-size: 45px;
  padding-left: 10px;
}

.fa.fa-instagram {
  color: rgba(0, 0, 0, 0.904);
  font-size: 45px;
}

.fa.fa-facebook {
  color: rgba(0, 0, 0, 0.904);
  font-size: 45px;
  padding-left: 10px;
}

.fa.fa-pinterest {
  color: rgba(0, 0, 0, 0.904);
  font-size: 45px;
  padding-left: 10px;
}

.fa:hover,
.fa:focus {
  text-decoration: none;
  color: rgb(99, 18, 18);
  overflow: hidden;
}

/* Footer */
.footer-bottom {
  height: 22.8vh;
  background-color: #5E2028;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  /* Fügt 100% Breite hinzu, um sicherzustellen, dass der Inhalt die gesamte Breite einnimmt */
}

.footer-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  /* Zeigt die Liste als Flex-Container an */
}

.footer-navigation-item {
  text-decoration: none;
  margin-right: 10px;
  font-weight: 700;
  padding: 24px 0;
  /* Ändert die Padding-Einstellungen, um die gewünschte Ausrichtung zu erreichen */
}

#footer-ende {
  font-weight: 700;
  color: #FFFFFF;
}

#letzer-Satz {
  font-size: medium;
  text-align: right;
  font-weight: 700;
  color: #FFFFFF;
  margin-top: 10px;
}

/* --------------------------*/



/* Responsive-Styles für kleine Bildschirme */
@media screen and (max-width: 650px) {
  header {
    width: 25%;
    /* Der Header erstreckt sich über die volle Breite des Bildschirms */
    height: auto;
  }

  header img {
    content: url('./Logo+Icon/W-Logo.png');
    width: 60px;
    max-width: 1000px;

  }

  .winebottles {
    flex-direction: column;
    align-items: center;
  }

  .winebottles>div {
    margin: 1em 0;
  }

  .square {
    width: 80vw;
    height: 72vw;
  }

  .square img {
    transform: translateX(50%);
    top: 30%;
  }

  .square p {
    font-size: 20px;
    width: 70%;
  }

  #carousel {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 1em 0;
  }

  .buttongroup {
    display: flex;
    justify-content: center;
    gap: 1.5em;
    /* Reduzierter Abstand */
  }

  .carouselbtn {
    width: 40px;
    /* Reduzierte Breite */
    height: 6px;
    /* Reduzierte Höhe */
    background-color: #a8a8a8;
    margin: 0 5px;
    /* Reduzierter Rand */
  }

  .carouselbtn button {
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  .Produktvorstellung-container {
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    height: auto;
    background-image: url(./Aufderwebseite/Handy_Flaschen.png);
    background-size: 150%;
    /* Erhöht die Größe des Hintergrundbildes */
    background-clip: padding-box;
  }

  .Produktvorstellung-Text {
    max-width: 80%;
    text-align: left;
  }

  #CallToAction-Button {
    width: 100%;
    /* Button breiter machen */
  }

  .weinvorstellungs-container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    padding-left: 15px;
  }

  .abstandrechts {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 50px;
  }

  .weinsquare {
    width: 85vw;
    height: 82vw;
  }

  .weinsquare img {
    width: 38%;
    height: auto;
    position: absolute;
    top: 30%;
  }
 
  .weinsquare p {
    font-size: 25px;
   margin-bottom: 0%;
  }

  #vertikale-linie {
    display: none;
    /* Versteckt die vertikale Linie */
  }

  .wein-description {
    max-width: 100%;
    text-align: left;
    padding-left: 15px;
  }

  .überschriften{
    max-width: 100%;
    text-align: left;
    padding-left: 0px;
    margin-top: -600px;
  }

  #Literangabe {
    padding-right: 0;
    padding-top: 28px;
    padding-left:30px;
    font-size: 14px;
  }
  .weinpreis{
    margin-top: -40px;
  }

  
  .wein-text {
    margin-top: 500px;
  }

  .weinicons-bereich {
    width: 100%;
  }

  .wein-button {
    width: 100%;
    box-sizing: border-box;
  }

  .Herstellungsprozess-container {
    padding: 0 25px;
    margin-bottom: 65px;
    margin-top: 50px;
  }

  .slideshow-container {
    flex-direction: row;
    overflow: hidden;
    /* Versteckt das angeschnittene Bild */
  }

  .mySlides {
    width: 100%;
    min-width: 50%;
    /* Stellt sicher, dass mindestens ein Bild vollständig angezeigt wird */
  }

  .mySlides img {
    width: 100%;
    height: auto;
  }

  .prev,
  .next,
  .numbertext {
    display: none;
  }

  .andereKlasse {
    display: block;
  }

  .andereKlasse .buttongroup {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    /* Reduzierter Abstand */
  }

  .Bewertungs-container {
    padding-left: 15px;
    margin-top: 15px;
    margin-bottom: 40px;
  }

  .Bewertung-drumherum {
    flex-direction: column;
    align-items: center;
  }

  .Bewertung-drumherum img {
    display: none;
    /* Das Bild wird nicht angezeigt */
  }

  .Bewertungs-text {
    width: 100%;
    margin-right: 0;
  }

  .Bewertungs-text div {
    margin-bottom: 10px;
  }

  .bewertungsicon-container {
    flex-direction: column;
    align-items: center;
  }

  .Bewertungs-button {
    width: calc(100% - 10px);
    margin: 0px 0px 20px;
    box-sizing: border-box;
  }

  .impressum-container {
    padding-left: 15px;
    margin-top: 25px;
    margin-bottom: 40px;
    background-clip: padding-box;
  }

  .impressum-h3 {
    margin-bottom: 12px;
    margin-top: 10px;
    font-size: 18px;
  }

  .impressum-text {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 14px;
  }

  .Letzter-button {
    width: calc(100% - 10px);
    /* Make the button slightly smaller with equal padding */
    box-sizing: border-box;
    /* Include padding and border in the element's total width */
    margin: 0px 0px 20px;
    /* Add top and bottom margin, and equal left and right margin */

  }

  .Letztes-bild {
    padding-left: 50px;
    margin-top: -250px;
  }

  .Letztes-bild img {
    width: 400px;
  }

  .footer-fa-icon {
    margin-left: 10px;
    /* Reduzierte linke Seitenränder */
    margin-top: 0;
    /* Reduzierte obere Seitenränder */
  }

  .fa {
    font-size: 30px;
    /* Reduzierte Schriftgröße */
  }

}

@media screen and (max-width: 1080px) {

}