/* https://xd.adobe.com/view/a8a30fd2-503a-4e8d-949f-7815efb8b2cf-fdf0/specs/  */

* {
  /* margin: 0; */
  box-sizing: border-box;
  font-family: 'Archivo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5;
}


header {
  position: absolute;
}

header a {
  background-color: rgba(0, 0, 0, 0.6);
  height: 52px;
  width: 260px;
  position: fixed;
  top: 0;
  display: flex;
  margin: 0;
  z-index: 1000;
}

header img {
  height: auto;
  max-height: 100%;
  /* Das Bild bleibt innerhalb der Höhe des Headers */
  width: auto;
  max-width: 100%;
}

/* Reset und Basis-Stile */
body {
  overflow-x: hidden;
  width: 100vw;
  margin: 0;
}


/*Schrift*/

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;

}

h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.1;
}

p,
aside {
  font-size: 20px;
  line-height: 1.3;
  margin-left: auto;
}

.abstand {
  margin-bottom: 250px;
}

/* Hero-Sektion - 1.Video*/
.hero {
  top: 0;
  left: 0;
  margin-bottom: 100px;
  /* Abstand zur nächsten Seite */
  height: 100vh;
  width: 100vw;
  background: url('./Aufderwebseite/Hero.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* 2.Wine Bottles-Sektion*/
.winebottles {
  display: flex;
  gap: 7em;
}

.winebottles>div {
  height: fit-content;
  width: fit-content;
  margin: 1em;
}

.square {
  position: relative;
  width: 28vw;
  height: 25vw;
}

/* Square Styling für verschiedene Kategorien */
#dry .square {
  background-color: #58262d;
  border: 1px solid #707070;
}

#halfdry .square {
  background-color: #7C6B6D;
  border: 1px solid #707070;
}

#sweet .square {
  background-color: #731320;
  border: 1px solid #707070;
}

.square img {
  width: 40%;
  height: auto;
  position: absolute;
  transform: translateX(145%);
  top: 27%;
}

.square p {
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0.4px;
  width: 50%;
  color: white;
  padding: 1em;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}


/* Carousel-Sektion */
#carousel {
  height: 90vh;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow-x: scroll;
  margin: 0;
  padding: 0 2em;
  margin-top: 15em;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Scrollbar ausblenden */
#carousel::-webkit-scrollbar {
  display: none;
}

/* Button-Gruppe */
.buttongroup {
  flex-direction: row;
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 3em;
}

.carouselbtn {
  position: relative;
  opacity: 1;
  width: 100px;
  height: 15px;
  background-color: #a8a8a8;
}

.carouselbtn button {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}

#span1 {
  background-color: #000000;
}

/* 3.Produktvostellung*/
.Produktvorstellung-container {
  display: flex;
  align-items: center;
  background-image: linear-gradient(rgba(255, 255, 255, 0.103), rgba(255, 255, 255, 0.108)), url(./Aufderwebseite/Flaschenkreis2.png);
  background-size: cover;
  /* Falls das Hintergrundbild den gesamten Container abdecken soll */
  background-position: right;
  /* Das Hintergrundbild rechts positionieren */
  padding-left: 70px;
  margin-bottom: 130px;
  margin-top: 100px;

}

.Produktvorstellung-Text {
  flex: 1;
  text-align: left;
  max-width: 50%;
  /* Breite des Textcontainers begrenzen */
}

.Produktvostellung-abstand {
  margin-top: 40px;
}

#CallToAction-Button {
  background-color: #000;
  border: 2px solid #00000000;
  border-radius: 0;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  outline-offset: 2px;
  padding: 15px 35px;
  text-transform: uppercase;
}

#CallToAction-Button:hover {
  background-color: #5E2028;
  border: 2px solid #5E2028;
}

/*4.Bild*/
.Hintergrunddbild2 {
  background-image: url('./Aufderwebseite/Anstoßen.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 110%;
  height: 120vh;

}

/* 6. Produkt im einzelnen  */
.weinvorstellungs-container {
  max-height: 70vw;
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* Ändern Sie justify-content auf flex-end, um Elemente rechts zu starten */
  align-items: flex-start;
  /* Ändern Sie align-items auf flex-start, um Elemente oben zu starten */
  margin-left: 90px;
  margin-top: 130px;
}

.überschriften {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 0px;
  padding-left: 40px;
  /* Behalten Sie den linken Abstand bei */
  order: 1;
}


.überschriften div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

#weinpreis {
  margin-top: 10px;
}

#Literangabe {
  color: #000000c4;
  margin-top: 22px;
  padding-left: 20px;
  /* Entfernen Sie den linken Abstand */
  font-size: 16px;
  white-space: nowrap;
  /* Stellen Sie sicher, dass der Text in einer Zeile angezeigt wird */
}

.weinsquare {
  margin-top: 40px;
  position: relative;
  width: 28vw;
  height: 25vw;
  max-width: 100vh;
  order: 2;
  /* Verwenden Sie die order Eigenschaft, um die Reihenfolge der Elemente zu ändern */
}

.weinsquare img {
  width: 35%;
  height: auto;
  position: absolute;
  transform: translateX(155%);
  top: 25%;
}

#halfdry .weinsquare {
  background-color: #7C6B6D;
  border: 1px solid #707070;
}

.weinsquare p {
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 0.4px;
  width: 50%;
  color: white;
  padding: 1em;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}

#vertikale-linie {
  top: 0;
  height: 520px;
  border-right: 2px solid black;
  /* Ändere die Eigenschaften der Linie nach Bedarf */
  padding-right: 45px;
  /* Abstand zwischen dem Bild und der Linie hinzu */

}

.wein-description {
  position: relative;
  z-index: 1;
  text-align: left;
  max-width: 70vw;
  margin-top: 100px;
  margin-bottom: 150px;
  line-height: 1.5;
  padding: 25px;
  left: -25.8vw;
  order: 3;
}

.wein-text p {
  font-size: 20px;
  padding: 20px;/* Fügen Sie Polsterung hinzu, um dem Text mehr Platz zu geben */
  max-width: 90vw;
  width: 160%;
  height: auto;
}

.weinicons-bereich {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; /* Positionieren Sie die Elemente weiter rechts */
  margin-top: 40px;
  margin-right: -50px;/* Verschieben Sie den Icons-Bereich weiter nach rechts */
}

.weinicons-bereich div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 25px;
}


.Location-icon,
.Weinkiste-icon,
.Traube-icon {
  margin-right: 40px;
}

.Location-icon img {
  width: 60px;
  height: 88px;
}

.Location-icon p {
  margin-left: 0px;
}

.Weinkiste-icon img {
  width: 90px;
  height: 98px;
}

.Weinkiste-icon p {
  margin-top: 10px;
  margin-left: 5px;
}

.Traube-icon img {
  width: 75px;
  height: 88px;
  align-items: center;
}

.Traube-icon p {
  text-align: center;
  margin-top: 10px;
  margin-left: 5px;
}

.Temperatur-icon img {
  width: 60px;
  height: 100px;
}

.Temperatur-icon p {
  text-align: center;
  margin-top: 10px;
  margin-left: 5px;
}

.button-wein-description {
  margin-left: 20px;
}

.abstand {
  margin-bottom: 0px;
}

/* Herstellungsprozess */
.Herstellungsprozess-container {
  padding: 0 70px;
  margin-top: 50px;
}

.slideshow-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: auto;
}

/* Show three images by default */
.mySlides {
  width: calc((100% - 160px) / 3);
  flex-shrink: 0;
}

.mySlides img {
  width: 100%;
  /* Stellt sicher, dass das Bild den gesamten Container einnimmt */
  height: 100%;
  /* Behält das Seitenverhältnis des Bildes bei */
}

.imageSliderGroup{
  display: none;
}


.abstandzwei {
  margin-bottom: 200px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 2;
  /* Stellt sicher, dass die Pfeile über den Bildern angezeigt werden */
  background-color: rgba(0, 0, 0, 0.8);
  /* Fügt einen Hintergrund hinzu, um die Pfeile sichtbar zu machen */
}

.next {
  right: -50px;
}

.prev {
  display: none;
  /* Verschiebt den Pfeil nach links */
}

.next:hover {
  background-color: #5E2028;
}

/* Caption text */
#text {
  text-transform: uppercase;
  font-weight: 700;
  padding: 8px 12px;
  width: 100%;
  text-align: center;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}



/* Producktdetails */
.productdetails-section {
  padding: 0 70px;
  margin-top: 100px;
  align-items: center;
  max-width: 98vw;
  max-height: 80vw;
}

.productdetails {
  display: grid;
  max-width: 98vw;
  max-height: 45vw;
  grid-template-columns: 1fr 8vw 1fr;
  grid-template-rows: repeat(4, 1fr);
}

.productdetails img {
  width: 11vw;
  height: 32vw;
}

#product {
  position: relative;
  height: 70vh;
  height: fit-content;
  grid-column: 2;
  grid-row: 2/span4;
  justify-self: center;
  justify-self: center;
}

/* Gemeinsame Styles für Text mit Linie */
.text {
  position: absolute;
  text-align: left;
  font-size: 20px;
  background-color: unset !important;
  color: #3e3c3c;
  font-size: 1em;
  position: relative;
  visibility: hidden;
  display: grid;
  grid-template-columns: 40% 1fr;
  gap: 3em;
  grid-column: 3;
}

.text p {
  max-width: 18vw;
}

.line {
  text-align: left;

  color: black;
  border-top: 2px solid #707070;
  text-transform: uppercase;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif
}


/* Kreise und Overlays für Produkt-Details */
area {
  outline: none;
}

.circle {
  pointer-events: all;
  position: absolute;
  border: 1px solid #707070;
  background-color: white;
  /* Set the default background color */
  border-radius: 50%;
  /* Create a circular shape */
  z-index: 99;
  width: 40px;
  height: 40px;
  /* visibility: hidden; */
  /* Initially hide the circles */
}

#cCircleOverlay {
  bottom: 92%;
  left: 55%;
}

#bCircleOverlay {
  bottom: 65%;
  left: 17%;
}

#lCircleOverlay {
  bottom: 47%;
  left: 60%;
}

#wCircleOverlay {
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

#cork {
  grid-row: 2;
}

#cork .line {
  margin-top: 7%;
}

#cork p {
  margin-left: unset;
  margin-top: -5%;
}

#bottle {
  padding-top: 10px;
  margin-top: -83px;
  grid-template-columns: 1fr 40%;
  grid-row: 3;
  grid-column: 1;
}

#bottle .line {
  text-align: right;
  margin-top: 19%;

}

#bottle div {
  grid-area: 1/2;
}

#bottle p {
  grid-area: 1/1;
}

#label {
  grid-row: 3;

}

#label .line {
  margin-top: 31%;
}

#label p {
  margin-left: unset;

  align-self: center;
}

#wine {
  grid-template-columns: 1fr 40%;
  grid-row: 4;
  grid-column: 1;
}

#wine .line {
  text-align: right;
  margin-top: 37%;
}

#wine div {
  grid-area: 1/2;
}

#wine p {
  grid-area: 1/1;
  align-self: end;
}

.visible {
  visibility: visible;
  background-color: #a8a8a8;
}

.otherpicProduct{
  display: none;
}


/* 8.Bewertung  */
.Bewertungs-container {
  padding-left: 70px;
  margin-top: 50px;
  margin-bottom: 130px;
  width: 100%;
  box-sizing: border-box;
}

.Bewertung-drumherum {
  display: flex;
  justify-content: space-between;
}

.Bewertung-drumherum img {
  width: 30%;
  height: 50%;
}

.Bewertungs-text {
  width: 40%;
  margin-right: 120px;
}

.Bewertungs-text>div {
  margin-bottom: 10px;
}

.Bewertungs-text>div>div {
  flex-direction: column;
  align-items: flex-start;
}

.Bewertungs-text h3 {
  color: #333;
  display: flex;
  align-items: left;
}

#grauer-text {
  color: #A8A8A8;
  margin-left: 0px;
}

.bewertungsicon-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

.bewertungsicon-container img {
  width: 6vh;
  height: 11vh;
  margin-right: 12px;
}

#GrauesGlas {
  width: 5.8vh;
  height: 11vh;
}

.Bewertungs-button {
  background-color: #a8a8a8;
  border: 2px solid #a8a8a8;
  border-radius: 0;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  outline-offset: 2px;
  padding: 15px 35px;
  text-transform: uppercase;
  margin-top: 40px;
}

.Bewertungs-button:hover {
  background-color: #000000;
  color: #ffffff;
  border: 2px solid #000000;
}

/* 9.Impressum  */

.impressum-container {
  padding-left: 70px;
  margin-bottom: 80px;
}

.impressum-h3 {
  margin-bottom: 25px;
  margin-top: 20px;
}

.impressum-text {
  margin-top: 20px;
  margin-bottom: 40px;
}

.Letzter-button {
  background-color: #000;
  border: 2px solid #00000000;
  border-radius: 0;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  outline-offset: 2px;
  padding: 15px 35px;
  text-transform: uppercase;
}

.Letzter-button:hover {
  background-color: #5E2028;
  border: 2px solid #5E2028;
}

.Letztes-bild {
  padding-left: 900px;
  margin-top: -500px;

}

.Letztes-bild img {
  width: 90%;
  height: auto;
}

.footer-fa-icon {
  margin-left: 1075px;
  margin-top: -60px;
}

.fa.fa-youtube {
  color: rgba(0, 0, 0, 0.904);
  font-size: 45px;
  padding-left: 10px;
}

.fa.fa-instagram {
  color: rgba(0, 0, 0, 0.904);
  font-size: 45px;
}

.fa.fa-facebook {
  color: rgba(0, 0, 0, 0.904);
  font-size: 45px;
  padding-left: 10px;
}

.fa.fa-pinterest {
  color: rgba(0, 0, 0, 0.904);
  font-size: 45px;
  padding-left: 10px;
}

.fa:hover,
.fa:focus {
  text-decoration: none;
  color: rgb(99, 18, 18);
  overflow: hidden;
}

/* Footer */

.footer-bottom {
  height: 22.8vh;
  background-color: #5E2028;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  /* This will distribute space evenly between the items */
  align-items: center;
  width: 100%;
  padding-left: 20px;
}

.footer-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  padding-left: 20px;
  font-size: 15px;
}

.footer-navigation-item {
  text-decoration: none;
  margin-right: 10px;
  font-weight: 700;
  padding: 24px 0;
}

.footer-navigation-item:hover {
  color: black;
}

#footer-ende {
  font-weight: 700;
  color: #FFFFFF;
  margin-right: 20px;
  font-size: 15px;
}

.letzter-Satz p,
#disclaimer {
  padding-left: 40px;
  font-size: 10px;
  font-weight: 700;
}


/* Responsive-Styles für kleine Bildschirme */
@media screen and (max-width: 650px) {
  h2{
    font-size: 32px;
  }
  h3{
    font-size: 28px;
  }
  header {
    width: 25%;
    /* Der Header erstreckt sich über die volle Breite des Bildschirms */
    height: auto;
  }

  header img {
    content: url('./Logo+Icon/W-Logo.png');
    width: 60px;
    max-width: 1000px;
  }

  .hero {
    background-image: url('./Aufderwebseite/Hero-handy.png');
    margin-bottom: -50px;
    background-size: cover;
  }

  .winebottles {
    margin-top: -250px;
    flex-direction: column;
    align-items: center;
  }

  .square {
    width: 85vw;
    height: 95vw;
  }

  .square img {
    transform: translateX(150%);
    top: 30%;
  }

  .square p {
    font-size: 30px;
    width: 70%;
  }

  #dry .square,
  #sweet .square {
    display: none;
  }

  #carousel {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 1em 0;
  }

  .zusätzlicherbuttongroup {
    display: flex;
    justify-content: center;
    gap: 1.5em;
  }

  .buttongroup {
    display: flex;
    justify-content: center;
    gap: 1.5em;
    /* Reduzierter Abstand */
  }

  .carouselbtn {
    width: 70px;
    /* Reduzierte Breite */
    height: 12px;
    /* Reduzierte Höhe */
    background-color: #a8a8a8;
    margin: 0 5px;
    /* Reduzierter Rand */
  }

  .carouselbtn button {
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  .Produktvorstellung-container {
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
    height: auto;
    background-image: linear-gradient(rgba(255, 255, 255, 0.516), rgba(255, 255, 255, 0.577)), url(./Aufderwebseite/Handy_Flaschen.png);
    background-size: 130%;
    background-clip: padding-box;

  }

  .Produktvorstellung-Text {
    max-width: 80%;
    left: 20%;
    text-align: left;
  }

  #CallToAction-Button {
    width: 100%;
    /* Button breiter machen */
  }

  .Hintergrunddbild2 {
    width: 100%;
    /* Anpassen der Breite für kleinere Bildschirme */
    height: 100vh;
  }
 
  .productdetails-section {
    max-height:200vw; /* Er max-height: 75vw; höht die Höhe für kleinere Bildschirme */
   }

   .otherpicProduct {
    display: block;
    max-width: 80%; /* Reduziert die Breite des Bildes auf 80% */
    height: auto;
    margin-left: auto; /* Zentriert das Bild horizontal */
    margin-right: auto; /* Zentriert das Bild horizontal */
    margin-bottom: 0px
  }
 
  .productdetails-section h2 {
    margin-left: -40px; /* Verschiebt die Überschrift weiter nach links */
    font-size: 30px;
  }
 
  .productdetails img {
   display: none;
  }

  .text {
    display: none;
  }

  .circle {
    display: none;
  }

  .weinvorstellungs-container {
    min-height: 195vh;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-bottom: 100px;
    margin-top: -50px;
  }

  .überschriften {
    order: 1;
    margin-top: -70px; 
    padding-left: 0px; 
  }

  .überschriften h2{
    margin-bottom: -1px;
  }

  #weinpreis {
    margin-top: 20px; /* Reduziert den oberen Rand auf 5px */
    font-size: 25px;
  }

  #Literangabe {
    margin-top: 25px; /* Reduziert den oberen Rand auf 10px */
    font-size: 15px;
  }
  
  .abstandrechts, .weinsquare {
    width: 90vw;
    height: 80vw;
    margin-top: 8px;
    order: 2;
  }

  #vertikale-linie {
    display: none;
  }
  .wein-description {
    max-width: 90vw;
    margin-top: 70px;
    margin-bottom: 50px;
    left: 0;
    order: 3;
  }
 
.wein-text {
 margin-left: -35px;
}
.wein-text p{
  text-align: justify;
 
}
.weinicons-bereich {
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; /* Ändern Sie dies von column zu row */
  flex-wrap: wrap;
}

.weinicons-bereich div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Traube-icon {
  margin-left: 20px; /* Passen Sie den Wert nach Bedarf an */
}

.Location-icon {
  margin-left: 25px; /* Passen Sie den Wert nach Bedarf an */
}

.Location-icon,
.Weinkiste-icon,
.Traube-icon,
.Temperatur-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  .Location-icon img {
    width: 50px;
    height: 68px;
  }
 
  .Weinkiste-icon img {
    width: 80px;
    height: 78px;
  }
  
  .Traube-icon img {
    width: 65px;
    height: 78px;
    align-items: center;
    margin-left: 10px;
  }
  
  .Temperatur-icon img {
    width: 55px;
    height: 90px;
  }

  .Location-icon p,
  .Weinkiste-icon p,
  .Traube-icon p,
  .Temperatur-icon p {
    text-align: center; /* Zentriert den Text */
    font-size: 14px; /* Verkleinert die Schriftgröße auf 14px */
  }


  .Herstellungsprozess-container {
    margin-top: -45px;
    padding: 0 25px;
    margin-bottom: 65px;
  }

  .Herstellungsprozess-container h2 {
    font-size: 25px;
    display: flex;
  }

  .abstandzwei {
    margin-bottom: 150px;
  }

  .slideshow-container {
    flex-direction: row;
    overflow: hidden; /* Versteckt das angeschnittene Bild */
  }

  .mySlides {
    width: 100%;
    min-width: 50%;
    /* Stellt sicher, dass mindestens ein Bild vollständig angezeigt wird */
  }

  .mySlides img {
    width: 100%;
    height: auto;
  }

  .prev,
  .next,
  .numbertext {
    display: none;
  }


  .imageSlideButton button {
    background-color: #808080; /* Graue Farbe für alle Buttons */
    border: none; /* Entfernt den Standard-Button-Rahmen */
    padding: 4px 24px; /* Verkleinert die Größe des Buttons */
    margin: 2px 1px;
    margin-top: 15px; /* Reduziert den oberen Rand */
    cursor: pointer; /* Ändert den Mauszeiger beim Überfahren des Buttons */
    transition-duration: 0.4s; /* Fügt eine Animation hinzu, wenn sich der Button-Stil ändert */
    border-radius: 0px; /* Macht den Button rechteckig */
  }

  .imageSliderGroup {
    display: block !important;
    white-space: nowrap; /* Verhindert, dass die Elemente in eine neue Zeile umgebrochen werden */
  }

  .imageSliderGroup::-webkit-scrollbar {
    display: none; /* Für Chrome, Safari und andere WebKit-Browser */
  }

  #imageButton1 {
    background-color: #000000; /* Schwarze Farbe für den ersten Button */
  }
  .Bewertungs-container {
    padding-left: 30px;   /* Erhöht den linken Abstand */
    margin-top: 0px;
    margin-bottom: 40px;
  }

  .Bewertung-drumherum {
    flex-direction: column;
    align-items: center;
  }

  .Bewertung-drumherum img {
    display: none;
    /* Das Bild wird nicht angezeigt */
  }

  .Bewertungs-text {
    width: 100%;
    margin-right: 0;
    line-height: 1.5;
  }

  .Bewertungs-text hr {
    width: calc(100% - 12px);
    box-sizing: border-box;
  }

  .Bewertungs-text div {
    margin-bottom: 5px;
  }

  .bewertungsicon-container {
    margin-bottom: 10px;
    margin-top: 0px;
  }

  .bewertungsicon-container img {
   display: none;
  }

  .Bewertungs-button {
    width: calc(100% - 10px);
    margin: 30px 0px 20px;
    box-sizing: border-box;
  }

  .impressum-container {
    margin-top: 100px;
    padding-left: 30px;
    margin-bottom: 100px;
  }

  .impressum-h3 {
    margin-bottom: 20px;
    margin-top: 15px;
  }

  .impressum-text {
    margin-top: 15px;
    margin-bottom: 30px;
  }

  .Letzter-button {
    width: calc(100% - 10px);
    margin-top: 10px;
    box-sizing: border-box;
    order: 1;
  }

  .Letztes-bild {
    display: none;
  }

  .footer-fa-icon {
    margin-left: 0px;
    margin-top: 40px;
    order: 2;
  }

  .fa.fa-youtube,
  .fa.fa-instagram,
  .fa.fa-facebook,
  .fa.fa-pinterest {
    font-size: 40px;
  }

  .footer-bottom {
    height: auto;
  }

  .footer-navigation {
    flex-direction: column;
    align-items: left;
    flex-wrap: wrap;
  }


  .letzter-Satz p,
  #disclaimer {
    padding-left: 40px;
    font-size: 8px;
  }

}

@media only screen and (min-width: 650px) and (max-width: 1180px) {

  .hero {
    background-image:  url('./Aufderwebseite/Hero-Tablet.png');
    background-size: cover;
    margin-bottom: 40px;
  }
  .winebottles {
    display: flex;
    gap: 5em;
    overflow: hidden; /* Versteckt Elemente, die über den Container hinausgehen */
  }

  .winebottles>div {
    height: fit-content;
    width: 50%; /* Passt die Breite an, sodass nur zwei "divs" nebeneinander passen */
    margin: 0.5em;
  }

  .square {
    position: relative;
    width: 40vw;
    height: 38vw;
  }

  .square img {
    width: 40%;
    height: auto;
    position: absolute;
    transform: translateX(135%);
    top: 27%;
  }

  .square p {
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 0.4px;
    width: 50%;
    color: white;
    padding: 0.5em;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    margin-bottom: 2px;
  }

  #carousel {
    height: 70vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow-x: scroll;
    margin: 0;
    padding: 0 1em;
    margin-top: 10em;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .buttongroup {
    flex-direction: row;
    width: 80vw;
    display: flex;
    justify-content: center; /* Zentriert die Elemente horizontal */
    align-items: center; /* Zentriert die Elemente vertikal */
    gap: 2em;
    margin-top: 0em;
    width: auto;
  }

  .carouselbtn {
    position: relative;
    opacity: 1;
    width: 80px;
    height: 12px;
    background-color: #a8a8a8;
  }
  .Produktvorstellung-container {
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
    height: auto;
    background-image: linear-gradient(rgba(255, 255, 255, 0.516), rgba(255, 255, 255, 0.577)), url(./Aufderwebseite/Handy_Flaschen.png);
    background-size: cover;
    /* Ändern Sie die Hintergrundgröße auf 'cover', um sicherzustellen, dass der Hintergrund vollständig sichtbar ist */
    background-clip: padding-box;
  }

  .Produktvorstellung-Text {
    flex: 1;
    text-align: left;
    max-width: 85%;
    /* Begrenzt die Breite des Textes auf 85% des Containers */

  }

  .Hintergrunddbild2 {
    width: 100%;
    /* Behält die volle Breite bei */
    height: 75vh;
    margin-bottom: 80px;
  }

  .productdetails-section {
    max-height: 150vw;
  }

  .otherpicProduct {
    display: block;
    max-width: 70%; /* Reduziert die Breite des Bildes auf 80% */
    height: 90%;
    margin-left: auto; /* Zentriert das Bild horizontal */
    margin-right: auto; /* Zentriert das Bild horizontal */
    margin-bottom: 100px
  }

  .productdetails-section h2 {
    margin-left: 0px;
    
  }

  .productdetails img,
  .text,
  .circle {
    display: none;
  }

  .productdetails img {
    display: none;
  }

  .text {
    display: none;
  }

  .circle {
    display: none;
  }

  .weinvorstellungs-container {
    min-height: 155vh;
    overflow: auto;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-bottom: 100px;
    margin-top: -50px;
  }

  .überschriften {
    order: 1;
    margin-top: -70px;
    padding-left: 0px;
    right: 170px;

  }

  .überschriften h2 {
    margin-bottom: -1px;
  }

  #weinpreis {
    margin-top: 15px;
  }

  #Literangabe {
    margin-top: 25px;
    font-size: 15px;
  }

  .abstandrechts,
  .weinsquare {
    width: 70vw;
    height: 60vw;
    margin-top: 8px;
    order: 2;
  }

  #vertikale-linie {
    display: none;
  }

  .wein-description {
    max-width: 90vw;
    margin-top: 160px;
    margin-bottom: 50px;
    left: 0;
    order: 3;
  }

  .wein-text {
    margin-left: -15px;
  }

  .wein-text p {
    text-align: justify;
  }

  .weinicons-bereich {
    display: flex;
    justify-content: flex-end;
    /* Positionieren Sie die Elemente weiter rechts */
    margin-top: 40px;
    margin-right: -50px;
    /* Verschieben Sie den Icons-Bereich weiter nach rechts */
  }
  
  .weinicons-bereich {
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; /* Ändern Sie dies von column zu row */
    flex-wrap: wrap;
  }
  
  .weinicons-bereich div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .Location-icon,
  .Weinkiste-icon,
  .Traube-icon,
  .Temperatur-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
    .Location-icon img {
      width: 50px;
      height: 68px;
    }
   
    .Weinkiste-icon img {
      width: 80px;
      height: 78px;
    }
    
    .Traube-icon img {
      width: 65px;
      height: 78px;
      align-items: center;
    }
    
    .Temperatur-icon img {
      width: 55px;
      height: 90px;
    }
  
    .Location-icon p,
    .Weinkiste-icon p,
    .Traube-icon p,
    .Temperatur-icon p {
      text-align: center; /* Zentriert den Text */
    }

  .mySlides {
    width: 400px;
    /* Setzen Sie die Breite direkt */
    margin-right: 20px
  }

  .mySlides img {
    width: 100%;
    /* Bilder breiter machen */
    height: auto;
    /* Höhe automatisch anpassen */
  }

  .prev {
    display: none;
  }
  
  .next {
    right: -50px;
  }
  .imageSlideButton button {
    display: none;
  }

  .Bewertungs-container {
    padding-left: 50px;
    margin-top: 40px;
    margin-bottom: 100px;
  }

  #imageButton1 {
    background-color: #000000; /* Schwarze Farbe für den ersten Button */
  }


  .Bewertung-drumherum img {
    display: none;
    /* Bild nicht anzeigen */
  }

  .Bewertungs-text {
    width: 100%;
    /* Erhöhen Sie die Breite des Textes */

  }

  .Bewertungs-text>div {
    margin-bottom: 8px;
    /* Reduzieren Sie den unteren Rand */
  }

  .Bewertungs-button {
    font-size: 16px;
    /* Reduzieren Sie die Schriftgröße des Buttons */
    padding: 12px 30px;
    /* Reduzieren Sie das Padding des Buttons */
  }

  .impressum-container {
    padding-left: 50px;
    margin-bottom: 80px;
  }

  .impressum-h3 {
    margin-bottom: 20px;
    margin-top: 15px;
  }

  .impressum-text {
    margin-top: 15px;
    margin-bottom: 30px;
  }

  .Letzter-button {
    font-size: 16px;
    padding: 10px 25px;
  }

  .Letztes-bild {
    display: none;
  }

  .footer-fa-icon {
    margin-left: 0px;
    margin-top: 40px;
  }

  .fa.fa-youtube,
  .fa.fa-facebook,
  .fa.fa-pinterest {
    margin-left: 5px;
    font-size: 40px;
  }

  .fa.fa-instagram {
    font-size: 40px;
  }

  .footer-bottom {
    height: 17vh;
  }

  .footer-content {
    padding-left: 15px;
    /* Reduziert den linken Padding */
  }

  .footer-navigation {
    padding-left: 15px;
    /* Reduziert den linken Padding */
  }

  #footer-ende {
    font-size: 15px;
    padding-right: 20px;
  }

  .letzter-Satz p,
  #disclaimer {
    padding-left: 30px;
    font-size: 13px;
    /* Verkleinert die Schriftgröße */
  }



}